############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
.vscode/

#############
## Python
#############

*.py[co]
#.gitattributes
#.gitignore

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

###############################
# Whyqd
###############################
__pycache__/
*.komodoproject
.ipynb_checkpoints/
*.ipynb

